.create {
    background-image: url("./home-back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 100%;
    overflow: hidden;
    scroll-behavior: hidden;
}