.create {
    background-image: url("./back2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    Height:100vh;
    overflow: hidden;
    scroll-behavior: hidden;
    
}
