.home {
  background-image: url("./back1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  Height:100vh;
  scroll-behavior: hidden;
}
.card {
  border: 1px solid;
  border-color: black;
  color: black;
  border-radius: 5px;
  width: 280px;
  height: 210px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 20px;
  backdrop-filter: blur(3px);
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.filtros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.pager_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
}
.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 19px; 
}
.navbar {
  display: flex;
  height: 50px;  
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
  border-radius: 30px;
  border: 3px solid;
  border-color: #464646;
}
.card-img {
  height: 80px;

  border: black solid 1px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 28px;
}
.create-icon {
  position: absolute;
}
input[type="search" i] {
  backdrop-filter: blur(10px);
  width: 350px;
  box-sizing: border-box;
  padding: 1px 2px;
}
.nav-container {
  display: flex;
  color: white;
  border: black solid 1px;
  border-radius: 30px;
  width: 150px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  
}
.nav-title {
  color: #302f2f;
    margin-bottom: 16px;
    font-size: large;
}
select.filtro {
  background-color: #4c4040;
  border-radius: 15px;
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgb(58 50 50);
  height: 40px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
select:not {
  overflow: visible !important;
  background-color: transparent;
}
button.filtro {
  background-color: #4c4040;
  border-radius: 15px;
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgb(58 50 50);
  height: 40px;  
}
.navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: space-between;
  margin-left: 20%;
  margin-bottom: 20px;

}
.pager{
  background-color: #6c3a13;
  border-radius: 15px;
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgb(58 50 50);
  height: 25px;
  border: 1px solid;
}